{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="one-half column">
        <img class="u-max-full-width" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
    </div>
    <div class="one-half column">
    <h1>{{ product.name }}</h1>
    <h3><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h3>
    <p class="price">${{ product.price }}</p>
    <form action="{% url "cart:cart_add" product.id %}" method="post">
      {{ cart_product_form }}
      {% csrf_token %}
      <input class="button-primary" type="submit" value="Add to cart">
    </form>
    <pre><code>
      {{ product.description|linebreaks }}
    </code></pre>
    </div>
  </div>
{% endblock %}
