#header {
  padding: 1em;
}

#subheader {
  background-color: #ebebe0;
  padding: 1.25em;
  right: auto;
  text-align: right;
  border-radius: 10px;
}

#sidebar {
  float: left;
  min-height: 100%;
  padding: 10px;
  text-decoration: none;
}

#sidebar li {
  padding: 10px;
  list-style: none;
}

#sidebar ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

#sidebar a {
  color: #1BB1E3;
  text-decoration: none;
}

#sidebar .selected a {
  color: white;
  margin: 0px;
}

#sidebar .selected {
  border-radius: 10px;
  background: #1BB1E3;
}

.product-list {
  float: left;
  width: 1000px;
  margin-left: 50px;
}

.item {
  float: left;
  width: 300px;
  margin: 10px;
  text-align: center;
}

.item img {
  max-width: 300px;
  height: auto;
}

#content a {
  color: #1BB1E3;
  text-decoration: none;
}

.product-detail img {
  float: left;
  padding: 25px;
  max-width: 300px;
  height: auto;
}

.product-detail h1 {
  padding-top: 25px;
}

.product-detail input[type="submit"] {
  color: white;
  background-color: #1BB1E3;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  display: inline-block;
  padding: 5px;
}

.cart {
  width: 100%;
  height: auto;
  text-align: center;
  border-spacing: 0;
}

.cart th {
  padding: 10px;
  background-color: #1BB1E3;
  color: white;
}

.cart img {
  max-width: 150px;
  height: auto;
}

.cart tbody {
  background-color: #ebebe0;
}

.total td {
  background-color: #1BB1E3;
  color: white;
  padding: 10px;
}

.text-right {
  text-align: right;
}

.button-light {
  background-color: #A8A8A8;
  color: white !important;
  padding: 10px;
  border-radius: 10px;
}

.button {
  background-color: #1BB1E3;
  color: white !important;
  padding: 10px;
  border-radius: 10px;
}
